.card{
    border-radius: 8px;
    width: 240px;
    box-shadow: 1px 1px 8px 0px rgb(0 0 0 / 75%);
}

.cardConteudo{
    padding: 12px;
}

.card img{
    border-radius: 8px;
    max-width: 100%;
}

.card h3{
    margin-bottom: 8px;
}

.card p{
    font-size: 12px;
}

.card button{
    background: #f2da06;
    border: none;
    padding: 8px;
    margin-top: 12px;
    border-radius: 8px;
}