.headerConteiner{
    display: flex;
    padding: 60px;
    background: rgb(231, 230, 227);
    height: 30rem;
    gap: 60px;
    flex-wrap: wrap;
}

.infoBanner{
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
}

.imgBanner img{
   width: 388px;
   margin-left: 50px;
}

form select{
    padding: 8px;
    border-radius: 8px;
    margin-top: 8px;
}

  
