.conteiner{
  background: rgb(231, 230, 227);  
}

.imgPrincipal{
  width: 80%;
  margin: auto;
  height: 30rem;
  display: block;
  margin-bottom: 90px;
}

.blocoDescricao{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 120px;
}

.cardDescricao{
  width: 60%;
}

.containerFirura{
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.grupoFigura{
  width: 221px;
  height: 190px;
  padding: 14px;
}

.grupoFiguras{
  width: 267px;
  height: 150px;
}

.grupoFigu{
  width: 200px;
  height: 200px;
  padding: 2px;
}

.cardLateral{
  border-radius: 10px;
  background: rgb(198, 197, 193);
  padding: 20px;
}

.cardLateral h2{
  margin: 30px;
}

.cardLateral button{
  border: 0;
  border-radius: 8px;
  margin-top: 150px;
  padding: 8px;
  background: #f2da06;
}

.cardLateral div {
  text-align: center;
}

@media (max-width: 991.98px) {
  .cardLateral{
    width: 100%;
  }
  .cardDescricao{
    width: 100%;
  }
  .imgPrincipal{
    width: 100%;
  }
  .conteiner{
    padding: 0;
  }
  .containerFirura{
    justify-content: center;
  }
}